<header class="nav-wrapper" id="nav-wrapper">
  <nav class="nav layout--wide" id="main-nav" aria-label="Main navigation">
    <div class="nav__island nav__island--left">
      <a href="index.html" class="nav__logo" aria-label="Pilar Meaca home">
        <img src="images/shared/icon.svg" alt="" class="nav__logo-img" width="28" height="28" />
      </a>
      <ul class="nav__links nav__links--primary" role="list">
        <li><a href="work.html" class="nav__link">Work</a></li>
        <li><a href="/reel" class="nav__link">Reel</a></li>
        <li><a href="/about" class="nav__link">About</a></li>
      </ul>
    </div>
  </nav>
</header>
<div class="nav-spacer" id="nav-spacer" aria-hidden="true"></div>
